.del_btn >img{
    height:50px;
    width: 50px;
}
.pt_item{
    display: flex;
    gap: 100px;
    height: 400px;
    align-items: center;
    justify-content: center;
}
.pt_item> img{
    height: 400px;
    width: 400px;
}
#total-div{
    text-align: center;
}